.contact-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: aliceblue;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
