<div class="contact-container">
  <p>
    We want to create games, which are not labeled by genres. We want to create memorable experiences, that can present
    content of two maniacs' brains' as slices of life.
    We are grateful for any help. So, If you can help us with feedback, content, or other kinds of material, please
    contact us.
  </p>
  <div class="form-container">
    <div><h1>Contact Us</h1></div>
    <form class="form">
      <mat-form-field class="example-full-width">
        <mat-label>Your Name</mat-label>
        <input matInput placeholder="Bruce Banner">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Your E-Mail</mat-label>
        <input matInput placeholder="Hulk@avengers-online.marvel">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Your games make me feel..."></textarea>
      </mat-form-field>
      <div class="submit-button">
        <button mat-button color="primary">Send <3</button>
      </div>
    </form>
  </div>
</div>
