:host {
  height: 100%;
  width: 100%;
  justify-self: center;
}

.sub-item {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.5);
  webkit-filter: brightness(0.5);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

.sub-item:hover {
  filter: brightness(1);
  webkit-filter: brightness(1);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-transition: all .25s ease;
}

.sub-item > h1 {
  color: white;
  background: black;
}
