<app-fb-banner-games
  [refName]="'games/wammp'"
  [textColor]="'black'">
  <div header [style.color]="'black'">
    <h1>WAIT A MINUTE MR. POSTMAN</h1>
    <h2>2018 | [HTML5] [WINDOWS 10] [ANDROID]</h2>
    <h2>Help Mr. Postman to deliver his packages, by moving platforms</h2>
  </div>
  <div body>
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
  </div>
</app-fb-banner-games>
<app-fb-banner-games [refName]="'games/wotn'">
  <div header>
    <h1>WRATH OF THE NINJA</h1>
    <h2>2017 | [HTML5] [WINDOWS 10] [ANDROID]</h2>
    <h2>Ninjo is thriving to avenge his family members.</h2>
  </div>
  <div body>
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
  </div>
</app-fb-banner-games>
<app-fb-banner-games
  [refName]="'games/pf'"
  [textColor]="'black'">
  <div header [style]="getPaperFighterStyle()">
    <h1>PAPER FIGHTER</h1>
    <h2>2016 | [HTML5] [WINDOWS 10] [ANDROID]</h2>
    <h2>Kung Frog and his Minions are threatening Ninja land.
      You are chosen to assassinate him before he can execute his malicious plans!
    </h2>
  </div>
  <div body>
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
    This game is awesome and you are missing something, if you dont play it.
  </div>
</app-fb-banner-games>
