<div>
  <div class="footer-wrapper">
    <div class="contact">
      <h2>Contact</h2>
      <div class="contact-item">
        <mat-icon>fingerprint</mat-icon>
        <p> Copyright © 2020 FroBros Game Development</p>
      </div>
      <div class="contact-item">
        <mat-icon>home</mat-icon>
        <p> Bernhardstr. 13, 04315 Leipzig, Germany</p>
      </div>
      <div class="contact-item">
        <mat-icon>phone</mat-icon>
        <p> +49 1575 7955 200</p>
      </div>
      <div class="contact-item">
        <mat-icon>mail</mat-icon>
        <p>support@frobros.de</p>
      </div>
    </div>
    <div class="social">
      <h2>Social</h2>
      <div>
        <a href="https://www.instagram.com/frobrosdev/">
          <div class="icon icon-instagram"></div>
        </a>
        <a href="https://github.com/locojoetive">
          <div class="icon icon-github"></div>
        </a>
        <a href="https://soundcloud.com/johnny-mike-3">
          <div class="icon icon-soundcloud"></div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyrights">
  <div class="footer-copyrights-container">
  <a href="https://iconscout.com/icons/ios" target="_blank">Ios Icon</a> by <a href="https://iconscout.com/contributors/icons8">Icons8</a> on <a href="https://iconscout.com">Iconscout</a>
  </div>
</div>

