.footer {
  &-wrapper {
    padding: 1.5rem;
    width: 75%;
    margin: auto;
  }

  &-copyrights {
    display: none;
    width: 100%;
    background-color: black;
    padding: 0.25rem 1rem;

    &-container {
      width: auto;
      margin: auto;
    }
  }
}

div {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;

  @media (min-width: 720px) {
    flex-direction: row;
    }
}

p {
  margin: 0;
  padding-left: 15px;
}

.contact,
.social {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  margin: 1.75rem auto;

  div {
    flex-direction: row;
  }
}

.contact-item {
  flex-direction: row;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 0 1.5rem 0 0;
  background-color: white;
  background-repeat: no-repeat;
}

.icon-soundcloud {
  mask: url(src/assets/icons/icon-soundcloud.svg);
  mask-size: 100% 100%;
}

.icon-soundcloud:hover {
  background: orange linear-gradient(orange, white);
}

.icon-instagram {
  mask: url(src/assets/icons/icon-instagram.svg);
  mask-size: 100% 100%;
}

.icon-instagram:hover {
  background: blue linear-gradient(red, blue);
}

.icon-github {
  mask: url(src/assets/icons/icon-github.svg);
  mask-size: 100% 100%;
}

.icon-github:hover {
  background: green linear-gradient(green, white);
}

.icon-facebook {
  mask: url(src/assets/icons/icon-facebook.svg);
  mask-size: 100% 100%;
}

.icon-facebook:hover {
  background: blue linear-gradient(blue, white);
}
