<div class="wrapper">
  <div><h1>Contact Us</h1></div>
  <div class="line"></div>
  <div class="form-container">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Phone number">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-Mail">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Message"></textarea>
      </mat-form-field>
    </form>
  </div>
  <div><button mat-raised-button color="primary">Send</button></div>
  <div class="line"></div>
  <div class="right">
    <p>Created by locojoetive:</p>
  </div>
  <div class="icon-wrapper">
    <icon [labelName]="'instagram'" [href]="'https://www.instagram.com/locojoetive/'"></icon>
    <icon [labelName]="'facebook'" [href]="'https://www.facebook.com/johnny.mic.7'"></icon>
    <icon [labelName]="'github'" [href]="'https://github.com/locojoetive'"></icon>
    <icon [labelName]="'soundcloud'" [href]="'https://soundcloud.com/johnny-mike-3'"></icon>
  </div>
</div>
