mat-icon {
  height: 100px;
  width: 100px;
  font-size: 100px;
}

button {
  height: 80px;
  width: 200px;
  font-size: 40px;
}

.current-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-left, .banner-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-left {
  margin: 30px;
  align-items: flex-start;
}

.banner-right {
  align-items: center;
}

.details {
  min-width: 50%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  text-align: justify;
}

.details:after {
  content: "";
  display: inline-block;
  width: 100%;
}
