a {
  width: 100%;
}

p, h2 {
  margin: 0 10px;
}

.left, .right {
  width: 50%;
}

.footer-wrapper {
  color: white;
  fill: white;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
