a {
  width: 100%;
}

p, h2 {
  margin: 0 10px;
}

.contact-wrapper {
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.left, .right {
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
