@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  :host {
    flex-direction: column;
  }

  .left, .right {
    height: 50%;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  :host {
    flex-direction: row;
  }

  .left, .right {
    width: 50%;
    filter: brightness(0.5);
    webkit-filter: brightness(0.5);
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all .25s ease;
  }
}

@media only screen and (max-width: 768px) {
  :host {
    flex-direction: column;
  }
}

:host {
  height: 100%;
  display: flex;
}

h1 {
  font-size: 64px;
  color: white;
  background: black;
}

.left, .right {
  filter: brightness(0.5);
  webkit-filter: brightness(0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left:hover, .right:hover {
  filter: brightness(1);
  webkit-filter: brightness(1);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-transition: all .25s ease;
}

.left {
  background-image: url(../../assets/images/Banner-0.png);
}

.right {
  background-image: url(../../assets/images/Banner-1.png);
}
