:host {
  height: 100%;
  display: flex;
  flex-direction: row;
}

div {
  min-height: 100%;
  width: 50%;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 64ngpx;
  color: white;
  background: black;
}

.left, .right {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  webkit-filter: blur(5px);
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

.left:hover, .right:hover {
  filter: blur(0);
  webkit-filter: blur(0);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-transition: all .25s ease;
}

.left {
  background-image: url(../../assets/images/Banner-0.png);
}

.right {
  background-image: url(../../assets/images/Banner-1.png);
}
