:host {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header-items-wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

.header-items-wrapper:hover {
  font-size: 30px;
}


.header-item-part {
  font-family: 'ComputerPixel7-mnL2', monospace;
  color: #fff;
  display: table-cell;
  vertical-align: middle;;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

.middle {
  text-align: center;
}

.start, .end {
  height: 50%;
  width: 5px;
  background-color: white;
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

#image {
  height: 100%;
  background-image: url(../../../../assets/images/icons/icon.png);
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
