html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: #2b2b2b;
}

body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'ComputerPixel7-mnL2', monospace;
}
