html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  background-color: #2b2b2b;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
}

body {
  font-family: 'ComputerPixel7-mnL2', monospace;
}

.content {
  height: auto;
  min-height: 100%;
  color: white;
  display: flex;
}

.text-wrapper {
  text-align: center;
}

.paragraph {
  text-align: left;
  margin: 50px auto 100px auto;
  font-size: 24px;
  width: 80%;
}
