div {
  height: 75px;
}

mat-icon {
  transform: scale(3);
  color: white;
}

.header-items-wrapper {
  height: 75px;
  width:100%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}

.header-wrapper {
  height: 75px;
  width: 100%;
  top: 0;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.wrapper-not-scrolled {
  background-color: rgba(0,0,0,1);
}

.wrapper-scrolled {
  background-color: rgba(0,0,0,0.5);
}

.menu-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px
}

#menu-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
