name: SFTP Deploy
on:
  push:
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: FTP-Deploy-Action
        uses: SamKirkland/FTP-Deploy-Action@3.1.1
        with:
          ftp-username: ${{ secrets.FTP_USERNAME }}
          ftp-server: ${{ secrets.FTP_SERVER }}
          ftp-password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist/ng-fro-bros
